<div
  class="h-60 bg-slate-100 rounded-md p-5 hover:shadow-2xl hover:scale-105 duration-500 px-5"
  (click)="selectUserTrip(trip)"
>
  <p class="text-base text-colour">
    {{ trip.name }}
  </p>
  <p class="text-base text-colour mt-2">
    {{ trip.itinerary.length }} Itenaries
  </p>
  <div class="flex justify-around mt-5 items-center">
    <p class="font-mono">
      {{ trip.description }}
    </p>
    <p class="font-mono">
      {{ trip.currency }}
    </p>
  </div>
  <div>
    <button
      type="submit"
      class="text-white bg-blue-500 rounded-md w-full h-10 form-button"
      (click)="removeTrip()"
    >
      Remove Trip
    </button>
  </div>

</div>
