

.primary-button {
    transition: all 0.3s;
}


.primary-button:hover {
    background-color: #2a6496;
}


.secondary-button {
    transition: all 0.3s;
}


.secondary-button:hover {
    background-color: #096b10;
}

.teritary-button {
    transition: all 0.3s;
}


.teritary-button:hover {
    background-color: #920c12;
}