<div class="grid grid-cols-1 flex-wrap flex-col">
  <button
    class="text-white bg-blue-500 rounded-md w-full h-10 primary-button"
    (click)="isShowingTrips = !isShowingTrips"
  >
    {{ isShowingTrips ? "Hide" : "Show " }} Trips
  </button>
  <button
    class="text-white bg-green-500 rounded-md w-full h-10 secondary-button"
    (click)="addingTrip = !addingTrip"
  >
    {{ addingTrip ? "Hide" : "Show " }} Add trip
  </button>

  <ng-container *ngIf="isShowingTrips">
    <app-list-of-trips [trips]="myTripsResponse$ | async"></app-list-of-trips>
  </ng-container>

  <ng-container *ngIf="addingTrip">
    <app-add-trips></app-add-trips>
  </ng-container>
</div>

<div>{{ (selectedTrip$ | async)?.userEmail }}</div>
