<div class="grid grid-cols-1 flex-wrap flex-col p-3 m-4">
  <!-- <button
    class="text-white bg-blue-500 rounded-md w-full h-10 primary-button"
    (click)="isShowingTrips = !isShowingTrips"
  >
    {{ isShowingTrips ? "Hide" : "Show " }} Trips
  </button>
  <button
    class="text-white bg-green-500 rounded-md w-full h-10 secondary-button"
    (click)="addingTrip = !addingTrip"
  >
    {{ addingTrip ? "Hide" : "Show " }} Add trip
  </button>

  <button
    class="text-white bg-red-300 rounded-md w-full h-10 teritary-button mt-2"
    type="submit"
    (click)="isEditTrips = !isEditTrips"
  >
    {{ isEditTrips ? "Hide" : "Show " }} Edit Trip
  </button> -->
  <nz-tabset>
    <nz-tab nzTitle="My Trips">
      <ng-container>
        <app-list-of-trips
          [trips]="myTripsResponse$ | async"
        ></app-list-of-trips>
      </ng-container>
    </nz-tab>
    <nz-tab nzTitle="Add Trip">
      <ng-container>
        <app-add-trips></app-add-trips>
      </ng-container>
    </nz-tab>
    <nz-tab nzTitle="Edit Selected Trip">
      <ng-container *ngIf="(selectedTrip$ | async)?.tripID">
        <app-edit-trips [selectedTrip]="selectedTrip$ | async"></app-edit-trips>
      </ng-container>
    </nz-tab>
    <nz-tab nzTitle="View Selected Trip itinerary">
      <ng-container *ngIf="(selectedTrip$ | async)?.tripID">
        <app-itinerary [selectedTrip]="selectedTrip$ | async"></app-itinerary>
      </ng-container>
    </nz-tab>
    >
  </nz-tabset>
</div>
