<div class="md:flex hidden w-screen h-full justify-center py-20">
  <div
    class="grid grid-cols-1 w-[950px] bg-slate-100 h-fit rounded-lg divide-x-[1px] divide-dark-blue"
  >
    <div class="p-5 gap-4">
      <h1 class="text-dark-blue text-center text-xl">Login</h1>
      <form
        nz-form
        class="py-7"
        [formGroup]="loginUserForm"
        (submit)="loginUser()"
      >
        <nz-form-item>
          <nz-form-control nzSpan="40">
            <p class="text-base">Email:</p>
            <nz-input-group nzPrefixIcon="mail">
              <input
                nz-input
                formControlName="email"
                type="email"
                placeholder="bob.ross@icanpaint.co.za"
              />
            </nz-input-group>
            <p
              *ngIf="
                loginUserForm.get('email')?.invalid &&
                loginUserForm.get('email')?.touched
              "
              class="text-red-500"
            >
              Email Is Required
            </p>
          </nz-form-control>
        </nz-form-item>
        <nz-form-item>
          <nz-form-control nzSpan="30">
            <p class="text-base">Password:</p>
            <nz-input-group nzPrefixIcon="lock">
              <input
                nz-input
                formControlName="password"
                placeholder="password"
                [type]="passwordVisible ? 'text' : 'password'"
              />
              <div
                role="button"
                class="flex items-center border-[1px] float-right px-2 py-1 text-dark-blue hover:text-blue-500 duration-300 bg-white gap-4"
                (click)="passwordVisible = !passwordVisible"
              >
                <i
                  [class]="
                    passwordVisible
                      ? 'fa-solid fa-eye'
                      : 'fa-solid fa-eye-slash'
                  "
                ></i>
              </div>
            </nz-input-group>
            <p
              *ngIf="
                loginUserForm.get('password')?.invalid &&
                loginUserForm.get('password')?.touched
              "
              class="text-red-500"
            >
              Password Is Required
            </p>
          </nz-form-control>
        </nz-form-item>
        <button
          [disabled]="!submitLogin()"
          type="submit"
          class="{{
            submitLogin()
              ? 'bg-blue-500 hover:scale-105 duration-300'
              : ' bg-blue-100 cursor-not-allowed'
          }} text-white rounded-md w-full h-10 "
        >
          Sign In
        </button>
        <button
          type="submit"
          class="bg-blue-300 text-white rounded-md w-full h-10"
          (click)="logOutUser()"
        >
          Logout
        </button>
        <p class="text-sm text-center mt-2">
          Don't have an account?
          <span
            class="text-dark-blue hover:text-blue-600 cursor-pointer duration-300"
            routerLink="/signup"
            >Sign Up</span
          >
        </p>
      </form>
    </div>
  </div>
</div>
