<nav class="navbar" role="banner" *ngIf="authorise.defaultUser">
  <ul>
    <li *ngFor="let navLink of navLinks; trackBy: identifyLinks">
      <a
        [routerLink]="navLink.routerLink"
        [routerLinkActive]="navLink.activeRouterLink"
        >{{ navLink.displayName }}</a
      >
    </li>
    <li
      *ngIf="authorise.defaultUser"
      nz-submenu
      nzOpen
      nzTitle="Logout"
      nzIcon="user"
    ></li>
  </ul>
  <li nz-menu-item nzMatchRouter>
    <button (click)="signOut()" nz-button nzType="primary">Sign Out</button>
  </li>
</nav>

<div class="container">
  <router-outlet></router-outlet>
</div>
