<div class="grid grid-cols-2 gap-10">
  <nz-calendar>
    <ul *nzDateCell="let date" class="events">
      <ng-container [ngSwitch]="date.getDate()">
        <ng-container *ngSwitchCase="">
          <li *ngFor="let itin of itinerary">
            <nz-badge [nzStatus]="itin.tag" [nzText]="itin.notes"></nz-badge>
          </li>
        </ng-container>
        <ng-container *ngSwitchCase="10">
          <li *ngFor="let itin of itinerary">
            <nz-badge [nzStatus]="itin.tag" [nzText]="itin.notes"></nz-badge>
          </li>
        </ng-container>
        <ng-container *ngSwitchCase="11">
          <li *ngFor="let itin of itinerary">
            <nz-badge [nzStatus]="itin.tag" [nzText]="itin.notes"></nz-badge>
          </li>
        </ng-container>
      </ng-container>
    </ul>
    <ng-container *nzMonthCell="let month">
      <div *ngIf="getMonthData(month) as monthData" class="notes-month">
        <section>{{ monthData }}</section>
        <span>Backlog number</span>
      </div>
    </ng-container>
  </nz-calendar>
  <div class="gap-10">
    <app-my-itineraries [itinerary]="itinerary || null"> </app-my-itineraries>
  </div>
</div>
