<div class="grid grid-cols-2 gap-10 bg-white rounded-lg">
  <nz-calendar>
    <ul *nzDateCell="let date" class="events">
      <ng-container>
        <li *ngFor="let itin of itinerary">
          <nz-badge [nzStatus]="itin.tag" [nzText]="itin.notes"></nz-badge>
        </li>
      </ng-container>
    </ul>
  </nz-calendar>
  <div class="gap-10 m-20 border-blue-500">
    <nz-timeline
      *ngFor="let itin of itinerary; trackBy: identifyItins"
      class="sm:flex-col"
    >
      <nz-timeline-item>
        <p class="text-base text-colour">
          {{ itin.name }}
        </p>
        <p class="font-mono">
          {{ itin.notes }}
        </p>

        <p class="font-mono">
          {{ itin.startDate }}
        </p>
        <p class="font-mono">
          {{ itin.endDate }}
        </p>
        <nz-tag [nzColor]="setColourtag(itin)" class="font-mono">
          {{ itin.tag }}
        </nz-tag>
      </nz-timeline-item>
    </nz-timeline>
  </div>
</div>
